* {
  overflow: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 0 !important;
  margin: 0 !important;
}

.menu-burger {
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s;
  transition-delay: 0.15s;
  color: white;
}
.menu-burger:hover {
  cursor: pointer;
}
.menu-burger i {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 2px;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.menu-burger:before, .menu-burger:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  border-bottom: 2px solid #fff;
  width: 100%;
  left: 0;
  right: 0;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: right bottom;
}
.menu-burger:after {
  top: 100%;
  transform-origin: right bottom;
}
.menu-burger--is-active {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.2s;
}
.menu-burger--is-active:hover {
  cursor: pointer;
}
.menu-burger--is-active i {
  opacity: 0;
  transition-delay: 0;
}
.menu-burger--is-active:after {
  transform: rotate3d(0, 0, 1, 45deg) translate3d(-1px, 1px, 0);
}
.menu-burger--is-active:before {
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, 0, 0);
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

button {
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  color: white;
}
#close_help_menu {
  top: 3.3vh;
  position: relative;
  width: 100%;
  border-top: solid 1px #ccc;
  color: black;
  background: white;
  height: 32%;
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
    -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -ms-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  font-weight: 500;
}
#close_help_menu:hover {
  background: #3d4058;
  color: white;
}
#menu-button-help {
  position: absolute;
  top: 6vh;
  left: 1vh;
  width: 15vh;
  height: 10vh;
  background: white;
  -moz-box-shadow: -6px 5px 75px #000000;
  -webkit-box-shadow: -6px 5px 75px #000000;
  box-shadow: -6px 5px 75px #000000;
}
#menu-button-help:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  top: -20%;
  left: 10px;

}
#menu-button-help p {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  transform: translateY(-40%);
  font-size: 12pt;
}

.menu-burger {
  position: absolute;
  top: 2vh;
  left: 2vh;
  margin: -7px 0 0 -10px;
  color: white;
}

#site-menu, #site-menu-arrows {
  position: absolute;
  background: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: -50vh;
  left: -1.1vh;
  opacity: 0;
}
#home-arrow {
  position: absolute;
  width: 20vh;
  height: 4vh;
  background: white;
  left: 7vh;
  top: 0.5vh;
  opacity: 1;
}
#home-arrow:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-right-color: white;
  left: -2vh;
  top: 10px;
}
#home-arrow p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}

#who_am_i-arrow {
  position: absolute;
  width: 20vh;
  height: 4vh;
  background: white;
  left: 7vh;
  top: 5.4vh;
  -moz-box-shadow: -6px 0px 25px #000;
  -webkit-box-shadow: -6px 0px 25px #000;
  box-shadow: -6px 0px 25px #000;
}
#who_am_i-arrow:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-right-color: white;
  left: -2vh;
  top: 10px;
}
#who_am_i-arrow p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}
#about_me-arrow {
  position: absolute;
  width: 20vh;
  height: 4vh;
  background: white;
  left: 7vh;
  top: 10.3vh;
  -moz-box-shadow: -6px 0px 25px #000;
  -webkit-box-shadow: -6px 0px 25px #000;
  box-shadow: -6px 0px 25px #000;
}
#about_me-arrow:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-right-color: white;
  left: -2vh;
  top: 10px;
}
#about_me-arrow p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}
#contact-arrow {
  position: absolute;
  width: 20vh;
  height: 4vh;
  background: white;
  left: 7vh;
  top: 15vh;
  -moz-box-shadow: -6px 0px 25px #000;
  -webkit-box-shadow: -6px 0px 25px #000;
  box-shadow: -6px 0px 25px #000;
}
#contact-arrow:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-right-color: white;
  left: -2vh;
  top: 10px;
}
#contact-arrow p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}

#home-arrow, #who_am_i-arrow, #about_me-arrow, #contact-arrow, #home, #who_am_i, #about_me, #contact {
    -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


